<br />
<footer class="sitewide-footer greytext">
<center>
<a title="About, Help, Contact" href="/info">info</a>
<div>
&copy; 2015 <a href="{{default_values.home_url}}"><strong>{{default_values.site_name}}</strong></a>  - {{default_values.site_description}}
</div>
<p>
{{default_values.datetime}}
</p>
</center>
</footer>
</body>
</html>
