{{> header}}
<main>
{{#each deleted}}
<article class="post">
<span class="greytext"><a href="/undelete/{{slug}}">undelete</a></span>
 - 
 <a href="/{{slug}}">{{title}}</a> - <small><em>{{post_type}}</em></small>
</article>
{{/each}}
</main>
{{> footer}}
